<style>
.tab{
	margin: auto;
	border: #F50 solid 2px;
	/*border-collapse: collapse;*/
	border-spacing: 0;
}
.c{
	height: 20px;
	width: 20px;
}
.cb{
	background:#000;
}

.sent{
        background-color: #4BC5B2;
        color: #FFF;
        margin: auto;
        float: right;
        border-radius: 20px; 
        padding: 5px;
}

.formLS{
        width: 500px;
        float:left;
        background-color: #EEE;
        border: 2px solid #666;
        color: #6DAAF8;
        padding: 15px;
        font-family: sans-serif;
        font-weight: 700;
        margin: auto;
}
.sb{
margin-top: 20px;
height: 40px;
background-color: #4BC5B2;
color: #FFF;
margin-right: 0px;
border-radius: 20px;
padding: 10px;
}

h2,h4{color:orange;}

</style>