.simform {
	position: relative;
	margin: 0 auto;
	padding: 2em 0;
	max-width: 860px;
	width: 100%;
	text-align: left;
	font-size: 2.5em;
}

.simform .submit {
	display: none;
}

/* Question list style */
.simform ol {
	margin: 0;
/*	padding: 0;*/
	list-style: none;
	position: relative;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.1);
}
.questions li{
	height: initial;
}
.quest{
	height: inherit;
	width: calc(100% - 1.5em);
	padding: 15px;
	border: 0px;
	background: none;
	color: rgba(0,0,0,0.3);
	transition: opacity 0.3s;

}

/*Button next*/
.next{
    padding: 0px;
    height: inherit;
    border: 0px;
    color: rgba(0,0,0,0.3);
    background: none;
    cursor: pointer;
    width: 52px;
    visibility: hidden;
	-webkit-transition: opacity 0s 2s, visibility 0s 1s;
	transition: opacity 0s  2s, visibility 0s 1s;
}

.next:hover {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	color: rgba(0,0,0,0.5);
	pointer-events: auto;
}

/* Progress bar */
.simform .progress {
	width: 0%;
	height: 0.15em;
	background: rgba(0,0,0,0.3);
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.simform .progress::before {
	position: absolute;
	top: auto;
	width: 100%;
	height: inherit;
	background: rgba(0,0,0,0.05);
	content: '';
}

/* Number indicator */
.simform .number {
	position: absolute;
	right: 0;
	overflow: hidden;
	margin: 0.4em 0;
	width: 3em;
	font-weight: 700;
	font-size: 0.4em;
}

.questinfo {
width: calc(100%-52px);
} 
li > .next {
	top: 33%;
	position: absolute;
}
ul{
	list-style: none;
	padding: 28px 65px;
}
#back{
	margin: 42px -10px;
	transform: rotateY(180deg);
}
.rad{
    width:20px;
    height: 20px;
}
.check{
    width:20px;
    height: 20px;
}

/*--- Alerts ---*/
.alert{
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #F00;
    font-size: 15px;
    padding: 10px 30px;
    margin: 3px;
    border: solid #F00 2px;
    text-decoration: none;
    display: inline-block;
}
.alertNULL{
    display: none;
}
.alertOK{
    background-color: ghostwhite;
    border: 2px solid lightblue;
    color: lightblue;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}
.notifi{
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: lightblue;
    font-size: 15px;
    padding: 10px 30px;
    margin: 3px;
    border: solid lightblue 2px;
    text-decoration: none;
    display: inline-block;
}

/*--- --- ---*/